{% extends 'base.html' %}

{% block content %}
<h2>Connected Devices</h2>
<table border="1" cellpadding="5" cellspacing="0">
    <tr>
        <th>IP Address</th>
        <th>MAC Address</th>
        <th>Hostname</th>
        <th>Vendor</th>
        
        <th>Details</th>
    </tr>
    {% for device in devices %}
    <tr>
        <td>{{ device.ip }}</td>
        <td>{{ device.mac }}</td>
        <td>{{ device.vendor }}</td>
        <td>{{ device.hostname or 'Unknown' }}</td>
        <td><a href="{{ url_for('main.device_detail', ip=device.ip) }}">View Traffic</a></td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
